*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

header{
    background:#ff2323;
    color:white;
    padding:30px 80px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

ul{
    display:flex;
    gap:30px;
    list-style:none;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:50px;
}

.hero h1{
    font-size:60px;
    width:500px;
}

.hero p{
    width:450px;
    margin:20px 0;
}

button{
    padding:15px 40px;
    border: 2px solid white;
    background-color: #ff2323;
    border-radius:30px;
    color: white;
}

.menu{
    text-align:center;
    padding:50px;
}

.foods{
    display:flex;
    justify-content:center;
    gap:40px;
}
.foods img{
    width: 150px;
    height: 120px;
}

.offers{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
    background-color: bisque;
}

.card{
    width:300px;
    background:white;
    border-radius:20px;
    padding:20px;
    height: 160px;
}
.card img{
    width: 150px;
    height: 100px;
}
.card button{
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: -10px; */
}
.card p{
    font-size: 12px;
    padding-top: 13px;
}
.offers2{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
    background-color: bisque;
    height: 400px;
}
.card2{
    width:460px;
    background:white;
    border-radius:20px;
    padding:20px;
    height: 160px;
}
.card2 img{
    width: 150px;
    height: 100px;
}
.card2 p{
    font-size: 12px;
    padding-top: 13px;
}
.card2 button{
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: -10px; */
}

.app{
    background:#f8b739;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
    padding:60px;
    height: 400px;
}
.text{
    color: white;
    font-size: 26px;
}
.text img{
    margin-top: 50px;
}

.reviews{
    padding:80px;
    text-align:center;
    background-color:antiquewhite;
    text-align: start;
}

.cards{
    display:flex;
    gap:30px;
    justify-content:center;
    margin-top:40px;
}

.review{
    width:350px;
    background:white;
    padding:25px;
    border-radius:15px;
    height: 350px;
    margin-left: -270px;
}
.review2{
    width:330px;
    background:white;
    padding:25px;
    border-radius:15px;
    height: 220px;
    margin-top: 130px;
    position: absolute;
    margin-left: 510px;
}
.review3{
    width:400px;
    background:white;
    padding:25px;
    border-radius:15px;
    margin-top: -100px;
    height: 200px;
    position: absolute;
    margin-left: 570px;
}

.footerkfc{
    display: flex;
    align-items: center;
}
.top-footer{
    background:#ff2323;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:25px;
}

.bottom-footer{
    background:#1d212b;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:60px;
} 
.bottom-footer{
    display: flex;
    row-gap: 30px;
    color: #D9DBE1;
}
.bottom-footer input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid white;
}